#emble{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: #424242;
    font-style: italic;
    
}

#slogan{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color:#6D6D6E;
}

#exampleInputEmail1{
    width: 70%;
}

#btn12{
    background-color:#E9467C;
    color:white; 
    border-color:white; 
    border-radius:10px;
}